<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="PasswordFileLink" value="D:\ViewerFile\password.txt" />
    <add key="HostIPLink" value="D:\ViewerFile\host.txt" />
    <add key="Interval" value="20" />
    <add key="meetingLink" value="http://172.17.1.211/bmmsdummy?fl=1&amp;uid=bXZpZXc=&amp;p=bXZpZXcxMjM0NTY="/>
    <add key="host" value="192.168.104.45" />
  </appSettings>
</configuration>
